$header-height: 38px;
$blog-width: 900px;

$black: #000000;
$dark-gray: #212121;
$medium-gray: #303030;
$medium-gray-selected: #424242;
$light-gray: #E0E0E0;
$off-white: #FAFAFA;

$header-font: 'Monoton', cursive;
$default-font: Helvetica, Arial, sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

