.blog {
  padding: 50px;
}

.project {
  a {
    width: inherit;
    height: inherit;
  }

  img {
    background-color: white;
    width: inherit;
    height: inherit;
  }
}

.w1 {
  width: 200px;
}

.w2 {
  width: 400px;
}

.w3 {
  width: 600px;
}

.h1 {
  height: 200px;
}

.h2 {
  height: 400px;
}

.h3 {
  height: 600px;
}