extends layout
block header
  link(rel='stylesheet', href='/stylesheets/about.css')
block content
  .blog
    h1
        |Jonas Wechsler
        a.fa.fa-file-text-o(href="/pdf/resume/resume.pdf")
        a.fa.fa-codepen(href="http://www.codepen.io/JWechs/public/")
        a.fa.fa-github(href="http://www.github.com/JonasWechsler")
        a.fa.fa-envelope-o(href="mailto:jonaswechsler@gmail.com")
    |This website showcases some of the javascript projects I've done over the past few years. I spend most of my free time coding in HTML/CSS/Javascript and some other precompiling languages such as SCSS and Jade. All the source code for this website is available #[a(href="https://github.com/JonasWechsler/Website") here]. Currently, everything on this website was done without any external libraries (three.js, velocity.js, tween.js, etc.), though this will probably change in the near future.
    br
    br
    |Besides this website, I've spent the last two years researching computer architecture at UT Austin. My research was on caching schemes and prefetching algorithms on the L2 cache, specifically the #[a(href="https://www.cs.utexas.edu/~lin/papers/micro13.pdf") Irregular Stream Buffer] and Hawkeye, an unreleased caching scheme.

