extends layout
block header
  link(rel='stylesheet', href='/stylesheets/about.css')
block content
  .blog
    h1
        |Jonas Wechsler
        a.fa.fa-codepen(href="http://www.codepen.io/JWechs/public/")
        a.fa.fa-github(href="http://www.github.com/JonasWechsler")
        a.fa.fa-envelope-o(href="mailto:jonaswechsler@gmail.com")
        a.fa.fa-file-text-o(href="/pdf/resume/resume.pdf")
    |This website is meant to be a showcase for a handful of the more presentable javascript projects I've done over the years. All the source code is available #[a(href="https://github.com/JonasWechsler/Website") here]. Everything is done with pure javascript and possibly some jQuery- no other libraries were used.