extends layout
block header
  link(rel='stylesheet', href='/stylesheets/calculator.css')
  link(href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400',rel='stylesheet',type='text/css')
  //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
block content
  .blog
    .calculator.center
      .textarea.h1(onKeyUp="check()")
        input
        input
        input
      canvas#graph.h1(width=292 height=292)
      .err
      .log.hide
  script(src='./js/calculator.js')

