extends requirements
block layout_header
  title= title
  link(rel='stylesheet', href='/stylesheets/layout.css')
  if(styles)
    link(rel='stylesheet', href=styles)
  block header
block layout_content
  block beforecontent
  .navcontainer
    nav
      if highlight == 0
        a.selected(href="/")
          |HOME
      else
        a(href="/")
          |HOME
      //if highlight == 1
        a.selected(href="/projects")
          |PROJECTS
      //else
        a(href="/projects")
          |PROJECTS
      if highlight == 2
        a.selected(href="/about")
          |ABOUT
      else
        a(href="/about")
          |ABOUT
  .content
    block content
  block footer
