extends layout
block header
  link(rel='stylesheet', href='/stylesheets/projects.css')
block content
  .blog
    each val in projects
      .project
        a(href=val.link)
          img(src=val.img)
