/*.content{
  background-color:inherit;
}
h1 {
   font-family: "Courier New", Courier, monospace;
   color: grey;
   margin-top: 10px;
   margin-bottom: 60px;
   padding-left: 30px;
   font-size: 50px;
   margin-left: 25%;
   height: 0;
}
textarea {
   width: 282px;
   margin-top: 5px;
   margin-left: 25%;
   padding: 5px;
   height: 50px;
   resize: vertical;
}
hr {
   width: 300px;
   margin: 0 0 0 25%;
}
canvas {
   cursor: default;
   width: 292px;
   height: 292px;
   margin-top: 5px;
   margin-left: 25%;
}
.shadow {
   -moz-box-shadow: inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 0 0 10px #000000;
   border: 4px grey double;
}
*/
.blog{
	position:relative;
	height:90%;
}
.content *{
  color:rgba(0,0,0,1);
  font-family:"Roboto",sans-serif;
  font-weight: 300;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  line-height: 24px;
}
.textarea{
    padding:5px 0 0 0;
    margin-top: 5px;
    position:relative;
    width:316px;
}
.calculator > *{
  margin: 0 auto;
  width:316px;
  margin-top:10px;
  background-color:white;
  display:block;
}
.h1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.h2{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.h3{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.h4{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.h5{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.textarea input{
  background-color:white;
  padding:0;
  margin:0;
  padding:2px 8px 2px 8px;
  width:300px;
  display:block;
  border:0;
  outline:0;

  background-size: 200% 100%;
  background-image: linear-gradient(to right, white 50%, black 50%);
  -webkit-transition: background-position .5s;
  -moz-transition: background-position .5s;
  -o-transition: background-position .5s;
  -ms-transition: background-position .5s;
  transition: background-position .5s;
}
.err:empty{
  display:none;
}
.err{
  border-bottom:2px solid red;
}

.hide{
  display:none;
}
