extends fullscreen

block header
  title= "Golf"
  link(rel='stylesheet', href='/stylesheets/theatre.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
block content
  script(src="./js/golf.js/built/out.js")
  script(src="./js/fullscreen.js")
  script.
    disableResize();
    new Runner("draw");
  style.
    canvas{
        position:absolute !important;
        bottom:0 !important;
        border:none !important;
        top:initial !important;
        transform: translate(-50%, 0) !important;
    }
