extends fullscreen

block header
  title= "Golf"
  link(rel='stylesheet', href='/stylesheets/theatre.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
block content
  script(src="./js/Golf/level.js")
  script(src="./js/Golf/tools.js")
  script(src="./js/Golf/physics.js")
  script(src="./js/Golf/worldbuilder.js")
  script(src="./js/Golf/inputs.js")
  script(src="./js/Golf/rungolf.js")

